name: Workflow test
on:
  push:
   branches:
    - main
  workflow_dispatch: 
  pull_request:
   branches:
     - main
     
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        version: [8.0, 9.0]

    steps:
     - name: Setup .NET versions
       uses: actions/setup-dotnet@v5.0.0
       with:
         version: ${{ matrix.version }}

     - name: checkout code
       uses: actions/checkout@v5

     - name: Build project
       run: dotnet build

     - name: Run Test
       run: dotnet test

    

  
